.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*
.circle {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #fcdc29;
  border-radius: 50%;
  animation: loading 1.5s cubic-bezier(0.8, 0.5, 0.2, 1.4) infinite;
  transform-origin: bottom center;
  position: relative;
}
@keyframes loading {
  0% {
    transform: translateY(0px);
    background-color: #fcdc29;
  }
  50% {
    transform: translateY(50px);
    background-color: #ef584a;
  }
  100% {
    transform: translateY(0px);
    background-color: #fcdc29;
  }
}
.circle-1 {
  animation-delay: 0.1s;
}
.circle-2 {
  animation-delay: 0.2s;
}
.circle-3 {
  animation-delay: 0.3s;
}
.circle-4 {
  animation-delay: 0.4s;
}
.circle-5 {
  animation-delay: 0.5s;
}
.circle-6 {
  animation-delay: 0.6s;
}
.circle-7 {
  animation-delay: 0.7s;
}
.circle-8 {
  animation-delay: 0.8s;
} */

.box {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: conic-gradient(
    #3a86ff,
    transparent,
    transparent,
    transparent,
    transparent
  );
  position: relative;
  display: grid;
  place-items: center;
  animation: loader 0.7s linear infinite;
}
.box::before,
.box::after {
  content: '';
  position: absolute;
}
.box::before {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background: #b4b4b4;
}
.box::after {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  background: #3a86ff;
  border-radius: 50%;
}
@keyframes loader {
  0% {
    transform: rotate(0);
    background: conic-gradient(
      #3a86ff,
      transparent,
      transparent,
      transparent,
      transparent
    );
  }
  25% {
    background: conic-gradient(#ffba00, transparent, transparent, transparent);
  }
  50% {
    background: conic-gradient(#c9184a, transparent, transparent);
  }
  100% {
    transform: rotate(-360deg);
    background: conic-gradient(#480ca8, transparent, transparent);
  }
}
